<% provide(:title, 'About') %>
<h1>About WeAreBGR</h1>

<h2 class="subheader">What is WeAreBGR?</h2>
<p>WeAreBGR is a collection of all the creators around the Bangor area &mdash; artists, designers, carpenters, writers, photographers &mdash; if you create, <em>you are BGR.</em></p>
<p>The goal of WeAreBGR is to create a wall of faces of all the people who are driving Bangor forward</p>

<h2 class="subheader">Why make this project?</h2>
<p>Part fun, part practice, but mostly to see the faces of all the people who shape the Bangor region into what it is and what it will become.</p>
<p>Are you a great interior decorator, but need to find a good carpenter? Someone here might have a passion in building. WeAreBGR is about <em>connections</em>, finding out who can do what in and around Bangor</p>

<h2 class="subheader">Who made this?</h2>
<p>WeAreBGR is developed in Ruby on Rails by <a href="http://www.twitter.com/pixleight" target="_blank" title="@pixleight">Chris Violette</a>.</p>

<h2 class="subheader">How can I help?</h2>
<p>If you have a passion for web development, you can <a href="http://www.github.com/pixleight/wearebgr" target="_blank">fork the project on GitHub</a> and contribute to the continued growth of WeAreBGR.</p>

<h2 class="subheader">What features are coming?</h2>
<p>Check out the <a href="https://github.com/pixleight/WeAreBGR#todo" target="_blank">README</a> for an ongoing list of what's I want to add to WeAreBGR.</p>
