/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome

 *= require_tree .
 */

 @import "compass";
 @import url(//fonts.googleapis.com/css?family=Bitter:400,700|Open+Sans:400,300);

.top-bar {
 .name {
   h1 {
     a {
       background: url(../images/wearebgr_2x.png) 15px 0 no-repeat;
       background-size: contain;
       overflow: hidden;
       white-space: nowrap;
       text-indent: 200%;
       @media only screen and (min-width: 40.063em) {
         width: 210px;
       }
     }
   }
 }
}

#overlaywrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
  background: rgba(#FFF,0.5);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
  @include perspective(2000);
  @include perspective-origin(50% 0);

  #overlay {
    background: #F9F9F9;
    cursor: auto;
    max-width: 50%;
    margin: 75px auto;
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    @include box-shadow(0 5px 15px rgba(#000,0.2));
    @include transform(rotateY(180deg));
    @include transform-origin(50% 0);
    @include transition(all 0.5s ease-out);
  }

  &.visible {
    display: block;

    #overlay {
      @include transform(rotateY(0));
    }
  }
}

.creator-block-item {
  position: relative;
  @include perspective(1000);

  .creator-block {
    display: block;
    position: relative;
    @include transform-style(preserve-3d);
    @include transition(all 0.35s ease-out);
    @include transform-origin(top,center);
  }

  .creator-placeholder-image {
    visibility: hidden;
  }

  .creator-image, .creator-details {
    @include backface-visibility(hidden);
    position: absolute;
    top: 0;
    left: 0;
  }

  .creator-image {
    z-index: 10;
  }

  .creator-details {
    position: absolute;
    background: lighten(#000, 95.7%);
    @include background-image(linear-gradient(left top, lighten(#000, 98.7%), lighten(#000, 93.7%)));
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border: 1px solid #FFF;
    @include transform(rotateY(180deg));
    @include box-shadow(0 3px 15px rgba(#000,0.2));
  }

  &:hover {
    z-index: 10;

    .creator-block {
      @include transform(rotateY(180deg) scale(1.1));

      .creator-image {
        z-index: 10;
      }
    }
  }
}

.ribbon {
  background-color: #008cba;
  overflow: hidden;
  white-space: nowrap;
  z-index: 999;
  /* top left corner */
  position: fixed;
  right: -50px;
  bottom: 40px;
  /* 45 deg ccw rotation */
  @include transform(rotate(-45deg));
  /* shadow */
  @include box-shadow(0 0 10px #888888);

  a {
    border: 1px dashed white;
    color: white;
    display: block;
    font: 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    /* shadow */
    text-shadow: 0 0 5px #444444;

    &:hover {
      color: white;
    }
  }
}
